# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.sublime-* text
*.*Theme text
*.*Preferences text
*.*Language text