{
	// Remove // make build-system effective.
	//
	// For default sourcemod scripting directory :
	// "cmd": ["<spcomp_path>", "-o$file_path/../plugins/$file_name", "$file"],
	//
	// For custom sourcemod  scripting directory :
	// "cmd": ["<spcomp_path>", "-i<include_path>", "-o$file_path/$file_base_name.smx", "$file"],
	//
	// Windows example:
	// "cmd": ["X:/somefolder/spcomp", "-iX:/somefolder/scripting/include", "-o$file_path/$file_base_name.smx", "$file"],
	// "cmd": ["X:/game/csgo/addons/sourcemod/scripting/spcomp", "-o$file_path/../plugins/$file_name", "$file"],
	//
	// Linux example:
	// "cmd": ["/home/User/sm/spcomp", "-i/home/User/sm/include", "-o$file_path/$file_base_name.smx", "$file"],
	// "cmd": ["/home/User/game/csgo/addons/sourcemod/scripting/spcomp", "-o$file_path/../plugins/$file_name", "$file"],
	//
	// OSX example:
	// "cmd": ["/Users/ppalex/sourcemod/scripting/spcomp", "-i$file_path/include", "-o$file_path/../plugins/$file_name", "$file"],
	//
	"file_regex": "(.*)\\((\\d+)\\) :",
	"selector": "source.sp"
}
